.recurrence {
  margin-top: 1rem;
  &__label {
    display: inline-block;
    margin: 0 1rem;
    color: var(--color-red);
    font-weight: 100;
  }
  &__select {
    cursor: pointer;
    border: 1px solid var(--border-color-gray);
    background-color: #fff;
    padding: 0.3rem;
    outline: none;
    color: var(--text-color-gray);
    border-radius: 3px;
    width: 7rem;
    margin-left: 0.75rem;
  }
}
