.maininfo {
  &__name {
    font-size: 1.5rem;
    color: var(--color-black);
    font-weight: normal;
  }

  &__number {
    margin: 0.8rem 0;
    font-size: 0.9rem;
    color: var(--color-black);

    &__label {
      color: var(--text-color-gray);
      margin-right: 1rem;
    }
  }

  &__contactcompany {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
    color: var(--color-black);
  }
}
