.bar {
  margin-right: 2rem;
  margin-top: 1rem;
  margin-left: 0.5rem;

  &__navs {
    display: flex;
    flex-direction: column;
    list-style: none;

    &__navitem {
      padding: 0.6rem 0.4rem;
      border-bottom: 1px solid var(--border-color-gray);
      cursor: pointer;
      width: 8rem;
      &:first-of-type {
        border-top: 1px solid var(--border-color-gray);
      }
      &__button {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
      }
      &Active {
        background-color: var(--text-color-gray);
        button {
          color: #fff;
        }
      }
    }
  }
}
