.info {
  margin-top: 0.8rem;

  &__input {
    outline: none;
    border: 1px solid var(--border-color-gray);
    border-radius: 4px;
    width: 15rem;
    padding: 0.2rem 0.5rem;
    color: var(--color-black);
    font-size: 1.2rem;
  }

  &__save {
    display: block;
    margin-left: auto;
    outline: none;
    border: none;
    background-color: var(--color-red);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
  }
}
