.controlbar {
  display: flex;
  justify-content: space-between;
  width: 68rem;
  background-color: #e6e6e6;
  align-items: center;
  padding: 1rem;
  margin-left: 2rem;
  position: relative;

  &__dropdownbtn {
    border: none;
    outline: none;
    background-color: var(--color-red);
    color: #fff;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__select {
      padding: 0.5rem 0.2rem;

      border: none;
      border-radius: 3px;
      color: #666666;
    }

    &__button {
      border: none;
      padding: 0.3rem;
      outline: none;
      border-radius: 5px;
      color: #fff;
      margin: auto 1rem;
      height: 2.2rem;
      cursor: pointer;
      text-decoration: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 0;
    }

    &__apply {
      background-color: #999999;
      width: 5rem;
    }
    &__addjob {
      background-color: #f46f22;
      display: flex;
      align-items: center;
      width: auto;
      padding-right: 2rem;
      display: inline-block;
      width: 7rem;
      position: relative;

      i {
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 0.5rem;
        position: absolute;
        left: 7%;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;

    span {
      margin-right: 0.5rem;
      color: #f46f22;
      cursor: pointer;
    }

    &__input {
      width: 70%;
      position: relative;
      width: 15rem;

      input {
        width: 100%;
        border: 1.5px solid #fff;
        border-radius: 5px;
        font-weight: 500;
        outline: none;
        padding: 0.5rem;
      }
      i {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        color: #f46f22;
      }
    }
  }
}
