.selector {
  margin: 1rem 0;

  &__input {
    border: 1.5px solid var(--border-color-gray);
    width: 12rem;
    position: relative;
    border-radius: 3px;
    margin-top: 2rem;

    i {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.7rem;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      padding: 0.2rem;
    }
  }
  border: 1.5px solid var(--border-color-gray);
  cursor: text;
  position: relative;
  width: 15rem;
  padding: 0.4rem;
  border-radius: 4px;
  color: #000;
  > i {
    position: absolute;
    color: var(--text-color-gray);
    right: 5%;
    font-size: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &__container {
    background-color: #fff;
    overflow: hidden;
    border: 1.5px solid var(--border-color-gray);
    position: absolute;
    top: 2rem;
    left: 0;
    width: 25rem;
    border-radius: 4px;
    height: 0;
    display: none;
    font-size: 0.9rem;
    font-weight: 250;
    transition: height 0.2s linear;
    color: var(--text-color-gray);
  }
  &__noskills {
    justify-content: center;
    align-items: center;

    a {
      color: var(--color-red);
    }
  }
  &__skillscontainer {
    height: 11rem;
    &__search {
      margin: 1rem;
      width: 80%;
      border-width: 1.5px;

      i {
        font-size: 1.3rem;
        color: var(--color-red);
        right: 3%;
      }
    }
    &__item {
      margin-top: 0.5rem;
      padding: 0.3rem;
      font-weight: 700;
      input {
        margin-left: 1rem;
        margin-right: 5px;
        font-size: 0.7rem;
      }
      &:hover {
        background-color: var(--text-color-gray);
        color: #fff;
      }
      &All {
        color: var(--color-red);

        &:hover {
          color: var(--color-red);
        }
      }
    }
  }
}
