.invoicecreated {
  border-bottom: 1px solid var(--border-color-gray);
  padding: 1rem 0;
  font-size: 0.9rem;
  color: var(--text-color-gray);
  position: relative;

  &__heading {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;

    font-weight: 300;
  }

  &__details {
    &__dates {
      font-weight: bold;
      color: var(--color-black);
    }
  }

  &__send {
    color: var(--color-red);
    position: absolute;
    right: 1rem;
    bottom: 25%;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
  }
}
