.companyinformation {
  border-bottom: 1px solid var(--border-color-gray);
  padding-bottom: 1rem;
  &__inputcontainer {
    margin-bottom: 0.3rem;

    &__label {
      width: 8rem;
      display: inline-block;
      color: var(--color-red);
      font-size: 0.9rem;
      vertical-align: center;
      text-align: right;
      margin-right: 1rem;

      &Header {
        color: var(--text-color-gray);
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-weight: 200;
      }
    }

    &__input {
      border: 1px solid var(--border-color-gray);
      border-radius: 4px;
      padding: 0.3rem 0.5rem;
      outline: none;
      font-weight: bold;
      width: 15rem;
      background-color: #fff;
      font-size: 0.9rem;

      &Quarter {
        width: 3rem;
        margin-right: 0.5rem;
      }
      &Third {
        width: 11.6rem;
      }
      &Half {
        width: 8rem;
      }
    }
  }
  &__lastrawinputcontainer {
    display: inline-block;
  }
  &__lastinputContainer {
    &__inquerywrapper {
      display: inline-block;
      margin-left: 2rem;
      vertical-align: middle;
    }

    &__heading {
      margin-bottom: 0.7rem;
      font-size: 1rem;
    }

    &__button {
      margin-top: 2rem;
      outline: none;
      border: none;
      color: var(--text-color-gray);
      background: #fff;
      cursor: pointer;
      font-size: 0.7rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
