.sidebar {
  height: 100vh;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  background-color: rgba(199, 198, 198, 0.5);
  z-index: 10;
  &__we {
    font-size: 2rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    text-align: center;
  }

  &__links {
    background-color: rgb(77, 77, 77);
    height: 100%;
    padding-top: 2rem;
    min-height: 97vh;

    li {
      width: 100%;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    text-align: center;
  }

  &__icon {
    font-size: 2rem;
  }
}
