.customer {
  border-bottom: 1px solid #dcdede;
  width: 80vw;
  display: flex;
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dcdede;
  color: #333;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    background-color: rgb(235, 240, 239);
  }

  &__job {
    width: 10rem;
    padding-left: 0.5rem;
    position: relative;
    text-align: center;
  }
  &__invoice {
    width: 5rem;
  }
  &__amount {
    width: 6rem;
  }
  &__customer {
    width: 12rem;
    &__red {
      color: rgb(244, 111, 34);
      font-weight: 600;
    }
  }
  &__site {
    width: 13rem;
  }
  &__due {
    width: 7rem;
  }
  &__schedule {
    width: 10rem;
    color: rgb(244, 111, 34);
  }
  &__assign {
    width: 7rem;
  }
  &__button {
    width: 5rem;
    height: 2rem;
    text-align: center;
    background: rgb(244, 111, 34);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  &__pending {
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: #875019;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      right: 0;
      transform: translate(-50%, 50%);
    }
  }
  &__scheduled {
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: #f9a326;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      right: 0;
      transform: translate(-50%, 50%);
    }
  }
}
