.userview {
  display: flex;
  &__heading {
    color: var(--color-black);
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &__picture {
    &__label {
      margin-right: 0.5rem;
      color: var(--color-red);
      font-size: 0.9rem;
      display: inline-block;
    }
    &__picture {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-red);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 200;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
  }

  &__cancel {
    background-color: #fff;
    color: var(--text-color-gray);
    outline: none;
    border: none;
    font-size: 1rems;
    cursor: pointer;
  }
  &__save {
    background-color: var(--color-red);
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
}
