.billing {
  border-bottom: 1px solid var(--border-color-gray);
  padding-bottom: 1rem;
  padding-right: 5rem;
  &__heading {
    color: var(--text-color-gray);
    font-weight: 200;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  &__input {
    border: 1px solid var(--border-color-gray);
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    outline: none;
    font-weight: bold;
    width: 15rem;
    background-color: #fff;
    font-size: 0.9rem;
  }
  &__selectcontainer {
    margin-bottom: 0.3rem;
    &__label {
      width: 7rem;
      margin-right: 0.5rem;
      text-align: right;
      color: var(--color-red);
      font-size: 0.9rem;
      display: inline-block;
    }
    &__select {
      cursor: pointer;
    }
  }
  &__billingtimeduration {
    color: var(--color-red);
    &__label {
      width: 7rem;
      margin-right: 0.5rem;
      text-align: right;
      font-size: 0.9rem;
      display: inline-block;
    }

    &__input {
      width: 2.5rem;
      text-align: center;
    }
    &__secondLabel {
      width: 10rem;
      margin-right: 0;
      text-align: left;
      margin-left: 0.5rem;
      font-weight: bold;
    }
  }
  &__validdurationselector {
    width: 6rem;
  }
  &__createlaborcontainer {
    margin-top: 1rem;
    color: var(--color-red);
    font-size: 0.9rem;
    &__input {
      margin-right: 0.5rem;
    }
    p {
      margin-top: 0.5rem;
      span {
        color: var(--text-color-gray);
      }
    }
  }
}
