.infobar {
  background-color: rgb(242, 242, 242);
  height: 100%;
  display: flex;
  align-items: center;

  &__name {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
