.inquieryContainer {
  position: relative;
  color: var(--color-red);
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;

  span {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  text-align: center;
  &__box {
    position: absolute;
    bottom: -15rem;
    left: -8.6rem;
    width: 18rem;
    height: 14rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    line-height: 150%;
    text-align: left;
    color: var(--text-color-gray);
    background-color: #fff;
    border: 1px solid var(--border-color-gray);
    border-radius: 4px;
    cursor: text;

    &__triangle {
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--text-color-gray);
      position: absolute;
      left: 46%;
      top: 9px;
      transform: rotate(45deg) translate(-50%, -50%);
      z-index: -1;
    }

    &__heading {
      margin-bottom: 0.7rem;
      font-size: 1rem;
    }

    &__button {
      margin-top: 2rem;
      outline: none;
      border: none;
      color: var(--text-color-gray);
      background: #fff;
      cursor: pointer;
      font-size: 0.7rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
