.specification {
  background-color: #fff;
  width: 34rem;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  padding: 1rem 2rem;
  padding-bottom: 4rem;

  &__closebutton {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    background-color: #fff;
    color: var(--color-red);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
  }

  &__heading {
    border-bottom: 1px solid var(--border-color-gray);
    color: var(--color-black);
    margin-bottom: 1rem;
  }

  p {
    color: var(--color-black);
    margin-bottom: 1rem;
  }
}
