* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Monospace", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --border-color-gray: #d9d9d9;
  --color-red: #e66b22;
  --text-color-gray: #808080;
  --text-color-gray-2: #505050;
  --color-pending: #864f18;
  --color-scheduled: #f8a225;
  --color-travelling: #1b89e5;
  --color-inProgress: #be4a9b;
  --color-completed: #9ccc50;
  --color-onHold: #989998;
  --color-attention: #f7df36;
  --color-cancelled: #f04d31;
  --color-external: #903162;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list-unstyled {
  list-style-type: none;
}
.active {
  background-color: rgb(128, 128, 128);
}
.page {
  grid-column-start: 2;
}
