* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "proxima-nova", helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --border-color-gray: #d9d9d9;
  --color-red: #e66b22;
  --text-color-gray: #808080;
  --text-color-gray-2: #505050;
  --text-color-gray-3: #575757;

  --color-black: #4d4d4d;
  --color-pending: #864f18;
  --color-scheduled: #f8a225;
  --color-travelling: #1b89e5;
  --color-inProgress: #be4a9b;
  --color-completed: #9ccc50;
  --color-onHold: #989998;
  --color-attention: #f7df36;
  --color-cancelled: #f04d31;
  --color-external: #903162;
}
/* hide the arrows from the number input button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* end the hide process of the arrows from the number input */
/* Start Styling date picker */
.react-datepicker__input-container {
  border: 1.5px solid var(--border-color-gray);
  padding: 0.5rem;
  border-radius: 3px;
  cursor: text;
}
.react-datepicker__input-container input {
  outline: none;
  border: none;
}
/* End Styling date picker */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list-unstyled {
  list-style-type: none;
}
.active {
  background-color: rgb(128, 128, 128);
}
.page {
  grid-column-start: 2;
  margin-top: 1rem;
}
