.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #fff;
  min-height: 30rem;
  border-radius: 5px;
  padding: 1.5rem;

  &__heading {
    font-size: 1.5rem;
    color: var(--color-black);
    font-weight: normal;
  }
}
