.statusbar {
  display: flex;
  margin: 1rem auto 1.5rem 2rem;
  align-items: flex-end;
  flex-wrap: wrap;

  &__status {
    font-weight: 600;
    font-size: 1rem;
    margin: auto 0.2rem;
    padding: 0.2rem;
    border-radius: 5px;
    height: 5rem;
    margin-bottom: -1rem;
    padding: 0.5rem;
    border: 1.5px solid #fff;
    cursor: pointer;
    margin-bottom: 0.5rem;
    &:hover {
      border-color: #eee;
    }

    &All {
      border: 1px solid #eee;
      border-radius: 5px;
      height: 5rem;
      vertical-align: bottom;
      display: flex;
      align-items: flex-end;
    }

    &__number {
      font-size: 2rem;
      font-weight: normal;
      color: #555655;
      text-align: center;
    }

    &__name {
      &::before {
        content: "";
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: #864f18;
        display: inline-block;
        margin-right: 1rem;
      }
      &2 {
        &::before {
          background-color: #f8a225;
        }
      }
      &3 {
        &::before {
          background-color: #1b89e5;
        }
      }
      &4 {
        &::before {
          background-color: #be4a9b;
        }
      }
      &5 {
        &::before {
          background-color: #9ccc50;
        }
      }
      &6 {
        &::before {
          background-color: #989998;
        }
      }
      &7 {
        &::before {
          background-color: #f7df36;
        }
      }
      &8 {
        &::before {
          background-color: #f04d31;
        }
      }
      &9 {
        &::before {
          background-color: #903162;
        }
      }
      &10 {
        &::before {
          background-color: #989998;
        }
      }
    }
  }
}
