.textarea {
  margin: 2rem 0;
  &__heading {
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-black);
    margin-bottom: 0.3rem;
    font-weight: normal;
  }
  &__box {
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color-gray);
    border-radius: 4px;
    padding: 0.3rem;
  }
}
