.fields {
  &__textarea {
    display: block;
    width: 100%;
    height: 10rem;
    border: 1px solid var(--border-color-gray5);
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  &__label {
    text-align: right;
    display: block;
    color: var(--color-black);
    input {
      margin-right: 0.5rem;
    }
  }
}
